footer {
  margin: 0 auto;
  background-color: #fff;
}
.contacts__section {
  text-align: center;

  margin: 0 auto;
  padding: 115px 0 123px;
}
.contacts__text {
  margin: 0 auto;
  width: 275px;
  margin-bottom: 30px;
}
.contacts__title {
  margin-bottom: 20px;
}
.contacts__sub {
  font-family: "Gilroy-Medium";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}
.send__btn {
  display: block;
  margin: 0 auto;
  width: 180px;
  height: 42px;
  background-color: #070707;
  border-radius: 30px;
  font-family: "Gilroy-Bold";
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 80px;
}
.icons {
  margin: 0 auto;
  width: 342px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 45px;
}
@media (max-width: 510px) {
  .contacts {
    padding: 50px 30px 90px ;
    text-align: center;
  }
  .contacts__title {
    margin-bottom: 27px;
  }
  .contacts__sub {
    margin-bottom: 40px;
  }
  .send__btn {
    margin-bottom: 48px;
    width: 316px;
    height: 42px;
    align-items: center;
  }
  .icons {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 48px;
} }